
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
//@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

.detail-borders {
    border-style: solid;
    border-width: 1px;
}

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

//================================================================================
// used by metis menu
//================================================================================
/* .sidebar-nav { */
/* background: #212529; */
/* } */
.sidebar-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    /* background: #343a40; */
}

.sidebar-nav .metismenu {
    /* background: #212529; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.sidebar-nav .metismenu li + li {
    margin-top: 5px;
}

.sidebar-nav .metismenu li:first-child {
    margin-top: 5px;
}
.sidebar-nav .metismenu li:last-child {
    margin-bottom: 5px;
}


.sidebar-nav .metismenu > li {
    /*-webkit-box-flex: 1;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}
.sidebar-nav .metismenu a {
    position: relative;
    display: block;
    padding: 13px 15px;
    /* color: #adb5bd; */
    outline-width: 0;
    transition: all .3s ease-out;
}

.sidebar-nav .metismenu ul a {
    padding: 10px 15px 10px 30px;
}

.sidebar-nav .metismenu ul ul a {
    padding: 10px 15px 10px 45px;
}

.sidebar-nav .metismenu a:hover,
.sidebar-nav .metismenu a:focus,
.sidebar-nav .metismenu a:active,
.sidebar-nav .metismenu .mm-active > a {
    /* color: #f8f9fa; */
    text-decoration: none;
    /* background: #0b7285; */
}
//================================================================================
//================================================================================
//================================================================================
.navbar-blue .navbar-brand {
    /*color: rgba(0, 0, 0, 0.9);*/
    color: #007bff
}

.navbar-blue .navbar-brand:hover, .navbar-blue .navbar-brand:focus {
    /*color: rgba(0, 0, 0, 0.9);*/
    color: #007bff
}

.navbar-blue .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.5);
}

.navbar-blue .navbar-nav .nav-link:hover, .navbar-blue .navbar-nav .nav-link:focus {
    color: rgba(0, 0, 0, 0.7);
}

.navbar-blue .navbar-nav .nav-link.disabled {
    color: rgba(0, 0, 0, 0.3);
}

.navbar-blue .navbar-nav .show > .nav-link,
.navbar-blue .navbar-nav .active > .nav-link,
.navbar-blue .navbar-nav .nav-link.show,
.navbar-blue .navbar-nav .nav-link.active {
    /*color: rgba(0, 0, 0, 0.9);*/
    color: #007bff
}

.navbar-blue .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 128, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.custom-toggler .navbar-toggler {
    border-color: blue;
}

.navbar-blue .navbar-text {
    color: rgba(0, 0, 0, 0.5);
  }

.navbar-blue .navbar-text a {
    /*color: rgba(0, 0, 0, 0.9);*/
    color: #007bff
}

.navbar-blue .navbar-text a:hover, .navbar-blue .navbar-text a:focus {
    /*color: rgba(0, 0, 0, 0.9);*/
    color: #007bff
}

